* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);

}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: white;

}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

.hero-content h1{
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 30px;
    background: #c49b63;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.about {
    padding: 60px 100px;
    text-align: center;

}

.about h2 {
    font-size: 18px;
    line-height: 1.6;
}

.about p{
    font-size: 18px;
    line-height: 1.6;
}

.process{
    display: flex;
    padding: 60px 100px;
    gap: 40px;

}

.process-text{
    flex: 1;
}

.process-text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.process-text p {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.process-image {
    flex: 1;
}

.process-image img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 25px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a{
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
}

/* PRODUCTS PAGE CSS */

.static-nav {
    position: relative;
    background: #111;
}

.products-header {
    text-align: center;
    padding: 60px 40px;
}

.products-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.product-header p {
    font-size: 18px;
    color: #555;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px 80px;

}

.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 15px;
}

.product-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #555;
}

.price {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-card .btn {
    display: inline-block;
}

/* MAP SECTION */
.contact-map{
    width: 100%;
    height: 400px;
}
.contact-map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-form-section {
    padding: 60px 40px;
    text-align: center;
    background: #f9f9f9;

}

.contact-form-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-form-section p {
    font-size: 17px;
    margin-bottom: 30px;
    color: #555;
}

.contact-form {
    max-width:  500px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.contact-form button {
    width: 100%;
    cursor: pointer;
}

